@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
.so-widget-sow-headline-default-fae0c69bdd3e .sow-headline-container h1.sow-headline {
  font-family: Permanent Marker;
  font-weight: 400;
  text-align: center;
  color: #dd9933;
  line-height: 1.4em;
  font-size: 2.5em;
  
  
}
.so-widget-sow-headline-default-fae0c69bdd3e .sow-headline-container h1.sow-headline a {
  color: #dd9933;
}
.so-widget-sow-headline-default-fae0c69bdd3e .sow-headline-container h6.sow-sub-headline {
  text-align: center;
  color: #ffffff;
  line-height: 1.4em;
  font-size: 0.9em;
  
  
}
.so-widget-sow-headline-default-fae0c69bdd3e .sow-headline-container h6.sow-sub-headline a {
  color: #ffffff;
}
.so-widget-sow-headline-default-fae0c69bdd3e .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-fae0c69bdd3e .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px solid #eeeeee;
  width: 100%;
  max-width: 75%;
}
.so-widget-sow-headline-default-fae0c69bdd3e .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-fae0c69bdd3e .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}