.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  padding: 0px 20px 0px 20px;
  max-width: 1280px;
  
}
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h1,
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h2,
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h3,
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4,
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h5,
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h6 {
  line-height: 1.375em;
  color: #028f60;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0);
  margin: 0.1em 0;
}
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper p {
  color: #777777;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  margin: 1em 0;
  font-size: 1em;
}
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base .sow-slider-pagination li a {
  background: #f49c03;
}
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-layout-slider-default-415d2fc4bf50 .sow-slider-base .sow-slide-nav a {
  color: #f49c03;
}