.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .social-media-button-container {
  zoom: 1;
  text-align: left;
  /*
    &:after {
        content:"";
        display:inline-block;
        width:100%;
    }
    */
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780) {
  .so-widget-sow-social-media-buttons-flat-439989e5d0c0 .social-media-button-container {
    text-align: left;
  }
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-facebook {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-facebook.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-envelope {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-envelope:visited,
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-envelope:active,
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-envelope:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button-envelope.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button {
  font-size: 1.33em;
  padding: 0.5em 0.5em;
  margin: 0.1em 0.1em 0.1em 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
}
.so-widget-sow-social-media-buttons-flat-439989e5d0c0 .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}