@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.so-widget-sow-button-flat-12a0217908e2 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-12a0217908e2 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-12a0217908e2 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-12a0217908e2 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-family: Open Sans;
  
  font-size: 1em;
  padding: 1em 2em;
  background: #028f60;
  color: #ffffff !important;
  border: 1px solid #028f60;
  border-width: 1px 0;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-flat-12a0217908e2 .ow-button-base a:visited,
.so-widget-sow-button-flat-12a0217908e2 .ow-button-base a:active,
.so-widget-sow-button-flat-12a0217908e2 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-12a0217908e2 .ow-button-base a.ow-button-hover:hover {
  background: #02a36e;
  border-bottom-color: #028a5d;
  color: #ffffff;
}